mixin css(name)
	link(href="/css/"+name+".css", rel="stylesheet", type="text/css")

mixin js(name)
	script(src="/js/"+name+".js")

<!DOCTYPE html>
html(lang="en", id=slug)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(id="mobile-address-bar-color", name="theme-color", content="")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		link(href="/manifest.json", rel="manifest")
		title #{title}

		block links
			+css("site")
			+css("elements")

		block scripts
			+js("util")
			+js("localStorage")
			+js("theme")

	body(class="right")
		main
			header(id="page-title")
				h1 #{title}
			block content
		block nav
